<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamlivr Foundation</title>

    <%- include('partials/headlinks') %>
</head>
<body class="bg-slate-300 dark:bg-none dark:bg-zinc-800 dark:text-white font-comfortaa bg-cover h-full">
    <%- include('partials/navbar') %>
    <main class="mt-[72px]">
        <section class="w-full overflow-x-hidden h-[90vh] hidden md:flex">
            <div class="md:flex md:flex-row md:max-h-[70%] self-center md:px-8 px-5">
                <div class="w-full h-1/2 md:min-h-full md:max-w-[60%] self-center">
                    <div class="md:max-w-xl mx-auto px-5">
                        <h1 class="text-5xl lg:text-6xl font-extrabold"><span class="font-extrabold text-[#f59e0b]">Streamlivr</span> Foundation</h1>
                        <p class="mt-2 mb-5 text-xl text-slate-800 dark:text-slate-200">Welcome to Streamlivr Foundation, a pioneering force at the intersection of technology, creativity and community empowerment.</p>
                        <a href="/" class="inline-flex items-center text-red-700 hover:text-white border-2 border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Learn more about Streamlivr
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="md:shrink-1 max-h-fit shadow-2xl shadow-slate-600 dark:shadow-black rounded-3xl hover:cursor-pointer hover:-translate-y-2 w-full mt-5 md:mt-0">
                    <img src="/assets/images/stream-livr-designsArtboard-1.png" alt="" class="w-full object-cover md:h-full md:w-full rounded-3xl">
                </div>
            </div>
        </section>

        <section class="flex w-full overflow-x-hidden min-h-[85vh] md:hidden pt-7">
            <div class="flex flex-col h-fit md:flex-row md:max-h-[90%] self-center md:px-8 px-5 gap-6">
                <div class="w-full h-fit md:min-h-full md:max-w-[60%] self-center">
                    <div class="md:max-w-xl mx-auto text-center">
                        <h1 class="text-4xl sm:text-5xl lg:text-6xl font-[1000] text-pretty"><span class="font-extrabold text-[#f59e0b]">Streamlivr</span> Foundation</h1>
                        <p class="mt-7 mb-5 text-lg sm:text-xl text-slate-800 dark:text-slate-200">Welcome to Streamlivr Foundation, a pioneering force at the intersection of technology, creativity and community empowerment.</p>
                        <a href="/" class="inline-flex items-center text-red-700 hover:text-white border-2 border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm sm:text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Learn more about Streamlivr
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="md:shrink-1 max-h-fit shadow-2xl shadow-slate-600 dark:shadow-black rounded-3xl hover:cursor-pointer hover:-translate-y-2 w-full md:w-[40%] mt-3 mb-16 sm:mt-5 md:mt-0">
                    <img src="/assets/images/stream-livr-designsArtboard-1.png" alt="" class="w-full h-64 object-cover md:h-full md:w-[40%] xl:w-1/2 rounded-3xl">
                </div>
            </div>
        </section>

        <section class="my-10 md:my-24 text-center px-5">
            <div>
                <h1 class="text-3xl sm:text-4xl font-medium">Join us in building a <span class="text-[#f59e0b]">Dynamic</span> and Inclusive <span class="text-[#e74e3c]">Digital</span> Landscape</h1>
                <p class="text-lg sm:text-xl text-slate-800 dark:text-slate-200 max-w-4xl pt-5 mx-auto">At Streamlivr Foundation, we are dedicated to shaping a future where technology and creativity thrive hand in hand. Explore the possibilities, unlock your potential, and be a part of a community that's driving positive change.</p>
                <div class="pt-10 pb-0 md:mb-10 md:flex md:flex-row gap-10 mx-auto justify-center ">
                    <p class="text-center">
                        <span class="text-5xl font-bold bg-gradient-to-r from-yellow-400 to-red-500 text-transparent bg-clip-text">$5000+</span> <br>
                        <span class="text-lg">Grants Allocated</span>
                    </p>
                    <p class="mt-10 md:mt-0">
                        <span class="text-5xl font-bold bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text">200+</span> <br>
                        <span class="text-xl">Scholarships Given</span>
                    </p>
                </div>
            </div>
        </section >

        <section class="py-5 mb-20 md:py-10">
            <div class="md:flex md:flex-wrap md:flex-row justify-center items-center gap-x-5 gap-y-16 px-10 sm:px-14">
                <div class="max-w-sm border-2 border-[#f59e0b] rounded-xl h-fit mx-auto shadow-2xl md:shadow-xl md:shadow-slate-500 shadow-slate-500 dark:shadow-black my-20 md:my-0 p-5">
                    <p class="text-3xl my-5">Governance DAO</p>
                    <p class="text-sm mb-10 font-semibold">Our Governance DAO serves as the backbone of Streamlivr's decentralized governance model. By leveraging blockchain technology, we empower the community to actively participate in decision-making processes.</p>
                    <button type="button" href="/" class="inline-flex items-center text-dark border-2 border-[#f59e0b] bg-[#f59e0b] focus:ring-4 focus:outline-none focus:ring-[#f59f0bc0] font-semibold rounded-lg text-sm sm:text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-[#f59e0b] dark:text-black dark:bg-[#f59e0b] dark:focus:ring-[#f59e0b] hover:text-white dark:hover:text-white">Learn more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                    </button>
                </div>
                <div class="max-w-sm  border-2 border-red-700 rounded-xl h-fit mx-auto shadow-2xl md:shadow-xl md:shadow-slate-500 shadow-slate-500 dark:shadow-black my-20 md:my-0 p-5">
                    <p class="text-3xl my-5">Grants & Support</p>
                    <p class="text-sm mb-10 font-semibold">At Streamlivr Foundation, we believe in the transformative power of creativity. Our Grants and Support for Creators program is designed to fuel your artistic endeavours.</p>
                    <button type="button" href="/" class="inline-flex items-center text-white border-2 border-red-700 bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-sm sm:text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-white dark:bg-red-600 dark:focus:ring-red-900 hover:text-black dark:hover:text-black">Apply for Grants
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                    </button>
                </div>
                <div class="max-w-sm border-2 border-[#f59e0b] rounded-xl h-fit mx-auto shadow-2xl md:shadow-xl md:shadow-slate-500 shadow-slate-500 dark:shadow-black mt-20 md:mt-0 p-5">
                    <p class="text-3xl my-5">Tech Scholarships</p>
                    <p class="text-sm mb-10 font-semibold">Empowering the future is not just a slogan; It's our commitmment. Explore the vast horizons of knowledge and expertise through our Tech Education & Scholarship Programs.</p>
                    <button type="button" href="/" class="inline-flex items-center text-dark border-2 border-[#f59e0b] bg-[#f59e0b] focus:ring-4 focus:outline-none focus:ring-[#f59f0bc0] font-semibold rounded-lg text-sm sm:text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-[#f59e0b] dark:text-black dark:bg-[#f59e0b] dark:focus:ring-[#f59e0b] hover:text-white dark:hover:text-white">Apply for Scholarship
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                    </button>
                </div>
            </div>
        </section>
        <section class="py-5 md:py-10 text-center">
            <p class="text-3xl sm:text-4xl font-medium max-w-5xl mx-auto mb-6">Together, Let's shape a future where everyoone has the <span class="text-[#e74e3c]">tools</span> and <span class="text-[#f59e0b]">opportunities</span> to thrive</p>
            <a href="/" class="inline-flex items-center text-red-700 hover:text-white border-2 border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Learn more about Streamlivr
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>